.mat-tab-label{
    height: 32px !important;
    min-width: 100px !important; 
}

.mat-tab-group.mat-primary .mat-ink-bar{
    background-color: #009ef7 !important;
}

.mat-tab-body-content{
    padding: 12px 0;
}