.toast-container{
    .toast-title{
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .toast-message{
        font-size: 14px;
    }
    .toast-close-button{
        span{
            font-weight: 400;
            transform: scale(1.5);
            font-size: 20px;
            line-height: 20px;
        }
    }
}